/********************************/
/************ fonts *************/
/********************************/

@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');


/********************************/
/************* map **************/
/********************************/
#maMap {
    height: 80vh;
    border: 2px solid #2980b9;
    z-index: 1;
}
.leaflet-pane, .leaflet-control-container{
    z-index: 1;
}


/********************************/
/*********** general ************/
/********************************/
body{
    background-color: #2c3e50;
    font-family: 'Bungee Hairline', cursive;
}

/********************************/
/************* main *************/
/********************************/

main{
    height: auto;
}



/************ header ************/
.main-header{
    display: flex;
    height: 50px;
    background-color: #2c3e50;
    color: white;
}
.main-header h1{
    text-shadow: 0px 0px 8px green, 0px 0px 4px red;
    margin: 0;
}


/************ footer ************/
footer{
    display: flex;
    height: 10px;
    background-color: #2c3e50;
}


/*********** Me localiser *******/
#maLocation{
    width: 150px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2980b9;
    color: white;
}
#maLocation:hover{
    background-color: #3498db;
}
/********** header map *********/
.map-section header{
    display: flex;
    justify-content: space-between;
    background-color: #2980b9;
}

/********** Date picker ********/

.datepicker{
    display: flex;
    align-items: center;
    z-index: 10;
    height: 25px;
    background-color: #2980b9;
    color: white;
}
.datetimepicker-fin{
    margin-right: 5px;
}
.datetimepicker-debut{
    margin-right: 15px;
}

/********* recherche ***********/
.recherche{
    display: flex;
    align-items: center;
    background-color: #2980b9;
    color: white;
}
.recherche input{
    margin-left: 5px;
}